.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: orange;
}

.Header a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.Header a[class='active']{
    color: black;
}